.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
.btn {
  color: white;
  text-decoration: none;
  border: 1px solid #0c2738;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.2s linear;
}
.btn:hover {
  background-color: #0c2738;
  color: white;
  transition: 0.2s linear;
}
.emoji {
  font-size: 55px;
}
