.filmList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .filmList {
    margin: 0 auto;
  }
}

.find {
  padding: 0 15px;
  max-width: 350px;
  width: 100%;
  margin-top: 10px;
}
.find input {
  max-width: 400px;
  width: 100%;
  height: 30px;
  border: 1px solid black;
  padding: 0 10px;
  outline: none;
}

@media (max-width: 500px) {
  .find input {
    width: 80%;
  }
}
